<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yasic.tvlist">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <application
        android:name=".Util.MyAppication"
        android:allowBackup="true"
        android:icon="@mipmap/tv"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:value="31f809b4a1b77be9c509d1f37d5cf13e" android:name="BUG_HD_SDK_GENERAL_KEY" />
        <activity
            android:name=".Presenter.CCTVTypeListPresenter"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Presenter.CCTVShowPresenter"
            android:theme="@style/AppTheme.NoActionBar">
            </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Presenter.MainInterfacePresenter"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>